  <section class="facilities">
    <h1>Facilidades</h1>

    <div class="container">
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/bedroom.jpg" alt="Image 1">
          <div class="description" [innerHTML]="facilitiesData.texto">
            
            <!-- <p>Descansa y recarga energías en nuestras confortables habitaciones estándar, diseñadas para ofrecerte un refugio de tranquilidad y comodidad durante tu estancia. Con una decoración elegante y todas las comodidades modernas que necesitas, nuestras habitaciones son el lugar perfecto para relajarte después de un día lleno de actividades. Disfruta de una noche de sueño reparador y despiértate renovado y listo para disfrutar de otro día de aventuras en nuestro hotel.</p> -->
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/suit.jpg" alt="Image 2">
          <div class="description">
            <p>Disfruta de una experiencia de lujo incomparable en nuestras exclusivas suites, donde el confort y la elegancia se combinan para ofrecerte una estancia verdaderamente inolvidable. Con amplios espacios, vistas impresionantes y comodidades de primera clase, nuestras suites son el refugio perfecto para aquellos que buscan lo mejor en alojamiento. Déjate mimar por nuestro servicio de primera clase y disfruta de una experiencia que supera todas tus expectativas.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/pool.jpg" alt="Image 3">
          <div class="description">
            <p>Sumérgete en la diversión en nuestra impresionante piscina, donde el sol, la diversión y la relajación se combinan para crear momentos inolvidables. Disfruta de un refrescante chapuzón en nuestras cristalinas aguas. Con vistas panorámicas y un ambiente relajante, nuestra piscina es el lugar ideal para escapar del estrés diario y disfrutar al máximo de tus vacaciones.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/funArea.jpg" alt="Image 4">
          <div class="description">
            <p>¡La diversión nunca se detiene en nuestro hotel! Te ofrecemos toboganes emocionantes, donde la adrenalina se combina con la frescura del agua para ofrecerte una experiencia inolvidable y una cancha de fútbol para disfrutar de apasionantes partidos junto al mar. </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/restaurant.jpg" alt="Image 5">
          <div class="description">
            <p>Deléitate con una experiencia gastronómica excepcional en nuestro restaurante, donde la cocina gourmet se combina con vistas impresionantes para ofrecerte una experiencia inigualable. Nuestro talentoso equipo de chefs utiliza ingredientes frescos y de temporada para crear platos deliciosos que satisfacen todos los paladares.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/bar.jpg" alt="Image 6">
          <div class="description">
            <p>Relájate y disfruta de tu bebida favorita en nuestro acogedor bar, donde la buena compañía se combina con deliciosos cócteles para ofrecerte una experiencia inolvidable. Desde clásicos atemporales hasta creaciones innovadoras, nuestra amplia selección de bebidas seguramente satisfará todos los gustos. Con un ambiente animado y un servicio excepcional, nuestro bar es el lugar perfecto para socializar y relajarte después de un día de aventuras.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/gym.jpg" alt="Image 7">
          <div class="description">
            <p>Mantente en forma durante tu estadía en nuestro moderno gimnasio, equipado con todo lo que necesitas para mantener tu rutina de ejercicio. Nuestro gimnasio ofrece una amplia gama de opciones para que puedas mantener tu salud y bienestar mientras viajas. Con un ambiente motivador y vistas inspiradoras, te ayudaremos a alcanzar tus objetivos de fitness mientras disfrutas de tu estancia en nuestro hotel.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/events.jpg" alt="Image 8">
          <div class="description">
            <p>Te ofrecemos eventos especiales que te esperan para hacer de tu estadía una experiencia inolvidable. Espectaculos y conciertos en vivo. <br/>Disfruta de noches llenas de música, baile y diversión, todo dentro del confort y la elegancia de nuestro hotel.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/spa.jpg" alt="Image 9">
          <div class="description">
            <p>Sumérgete en un oasis de relajación y rejuvenecimiento en nuestro lujoso spa. Disfruta de una amplia gama de tratamientos terapéuticos diseñados para revitalizar cuerpo y mente, desde masajes relajantes hasta tratamientos de belleza rejuvenecedores. Déjate mimar por nuestros expertos terapeutas en un entorno tranquilo y sereno que te dejará renovado y listo para disfrutar al máximo de tu estadía.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-description">
          <img src="assets/snorkel.jpg" alt="Image 10">
          <div class="description">
            <p>Embárcate en emocionantes aventuras con nuestras emocionantes excursiones guiadas, donde podrás explorar los tesoros ocultos de nuestro destino con la ayuda de nuestros expertos guías. Desde emocionantes excursiones de snorkel hasta relajantes paseos en kayak, nuestras actividades te ofrecen la oportunidad de descubrir la belleza y la diversidad de nuestra región de una manera única y emocionante.</p>
          </div>
        </div>
      </div>
    </div>
  </section>