
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
</head>


<body>
    <header class="header-container">
      <img src="assets/home.jpg" alt="image home">
    </header>

    <main class="main-container">
      <section class="welcome">
        <h2>Bienvenidos al Hotel Azure Waters</h2>
        <p>Sumérgete en una experiencia inolvidable en nuestro oasis de tranquilidad. 
            En Hotel Azure Waters, nos enorgullece ofrecer una variedad de servicios diseñados para hacer 
            que tu estancia sea cómoda, relajante y memorable.<br />
            Nuestras habitaciones elegantes y espaciosas están equipadas con comodidades 
            modernas para garantizar tu confort. Desde amplias camas king-size hasta baños lujosos, 
            cada detalle ha sido cuidadosamente pensado para tu disfrute.<br />
            Despierta cada mañana con nuestro delicioso desayuno buffet, que ofrece una amplia 
            selección de platos frescos y sabrosos para empezar el día con energía.<br /><br />
            Nuestra prioridad es tu satisfacción. ¡Esperamos darte la bienvenida pronto y brindarte 
            una experiencia inolvidable!</p>
      </section>
      <section class="seccion-informacion">
        </section> 
    </main>
    <footer class="footer-container">
      <p>Copyright© Hotel Patito 2024</p>
    </footer>
  </body>
  </html>