<div class="background-overlay"></div>

<div class="content">
<section class="about-us">
  
    <div class="container">
      <h1>Sobre Nosotros</h1>
      <div class="mb-3" [innerHTML]="pageData.texto">

      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-7">
          <div class="large-image">
            <img [src]="activeImage.url" [alt]="activeImage.alt">
          </div>
        </div>
        <div class="col-12 col-md-5 small-images">
          <div class="row cols-4 cols-md-3 h-auto justify-content-center">
            @for (imgItem of images; track $index) {
              <div class="image">
                <img [src]="imgItem.url" [alt]="imgItem.alt" (click)="clickImage(imgItem)">
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</div>