<section class="about-us">
  
    <div class="container">
      <h1>Sobre Nosotros</h1>
      <div class="description">
        <p>Bienvenido al Hotel Azure Waters, tu destino confiable para planificar las vacaciones perfectas. En Hotel Azure Waters, entendemos que cada viaje es único, y nos comprometemos a proporcionarte una experiencia excepcional desde el momento en que comienzas a explorar nuestras opciones de alojamiento hasta el final de tu estadía.</p>
      </div>
      <h1>Nuestra Misión</h1>
      <div class="description">
        <p>En el corazón de nuestra misión está tu satisfacción. Nos esforzamos por ofrecerte no solo una selección incomparable de alojamientos en destinos de ensueño, sino también un servicio al cliente de primera clase que te brinde tranquilidad y confianza en cada paso del proceso de reserva.</p>
      </div>
      <h1>Variedad y Elección</h1>
      <div class="description">
        <p>Sabemos que cada viajero es diferente, por lo que ofrecemos una amplia variedad de opciones de alojamiento para adaptarse a todos los gustos y presupuestos. Desde lujosos resorts frente al mar hasta acogedores bed and breakfasts en el campo, tenemos algo para cada tipo de viajero.</p>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-7">
          <div class="large-image">
            <img src="{{activeImage}}" alt="">
          </div>
        </div>
        <div class="col-12 col-md-5 small-images">
          <div class="row cols-4 cols-md-3 h-auto justify-content-center">
            @for (imgItem of images; track $index) {
              <div class="image">
                <img src="{{imgItem}}" alt="Imagen 1" (click)="clickImage(imgItem)">
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  