<div class="background-overlay"></div>

<div class="content">
<div class="container">
    <form (ngSubmit)="buttonInicioSesion()">
        <div class="form-group">
            <label for="nombre">Nombre de Usuario:</label>
            <input type="text" id="nombre" name="nombre" required [(ngModel)]="nombre">
        </div>
        <div class="form-group">
            <label for="contra">Contraseña:</label>
            <input type="password" id="contra" name="contra" required [(ngModel)]="contra">
        </div>
        <button type="submit">Iniciar Sesión</button>
    </form>
</div>
</div>