
<h2>Estado de las habitaciones del Hotel el día de hoy</h2>
<p id="fecha">Fecha Actual: {{ fechaActualizada }}</p>
<div *ngIf="rooms.length > 0">
    <table class="table">
        
        <thead>
            <tr>
                <th>Número de habitación</th>
                <th>Tipo de habitación</th>
                <th>Disponibilidad</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
                <td>{{ room.number }}</td>
                <td>{{ getRoomType(room) }}</td>
                <td>{{ getRoomStatus(room) }}</td> 
                
            </tr>
        </tbody>
    </table>
    <button (click)="printRoomStatus()">
        <img src="https://th.bing.com/th/id/OIP.Um5tV9OWtXi4HZFBRhQ7RQHaHa?rs=1&pid=ImgDetMain" alt="Texto Alternativo">
    </button>

</div>

<div *ngIf="rooms.length === 0">
    <p>No hay habitaciones para mostrar.</p>
</div>

