
.table {
    width: 60%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    font-size: 20px; /* Tamaño de fuente */
    color: white; /* Color de fuente */
    font-weight: bold; /* Peso de fuente (opcional) */
    background-color: black; /* Color de fondo */
  }

#fecha {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    padding: 10px; 
    border: 3px solid #000; 
  }


  button {
    width: 90px; 
    height: 90px; 
  }
  
  button img {
    max-width: 70%; /* La imagen se ajustará automáticamente al ancho del botón */
    max-height: 70%; /* La imagen se ajustará automáticamente al alto del botón */
  }
