<div class="background-overlay"></div>

<div class="content">

<h1>Reservar habitación</h1>
<div class="container">
    <!-- Se debe crear una estructura de "estados" donde se valide una variable para saber el paso en el que está el proceso -->
    @switch(estado){
    @case ("booking") {
    <h3>Habitación disponible</h3>
    <div class="row mb-2">
        <div class="col-12 col-md-3 d-flex justify-content-center">
            <div>
                <img [src]="room.image_url" alt="IMAGEN HABITACION" class="w-100">
            </div>
        </div>
        <div class="col-12 col-md-9">
            {{room.description}}
        </div>
    </div>
    <div class="col-12 col-sm-10 col-md-7">
        <p class="mb-5 mt-2"><b>Mónto de reservación: $ {{room.price}}</b></p>

        <div class="row mb-2 align-items-center">
            <label class="form-label col-5">Identificación: </label>
            <div class="col-7">
                <input type="text" [(ngModel)]="cliente.id" class="form-control border-secondary-subtle">
            </div>
        </div>
        <div class="row mb-2 align-items-center">
            <label class="form-label col-5">Nombre: </label>
            <div class="col-7">
                <input type="text" [(ngModel)]="cliente.name" class="form-control border-secondary-subtle">
            </div>
        </div>
        <div class="row mb-2 align-items-center">
            <label class="form-label col-5">Apellidos: </label>
            <div class="col-7">
                <input type="text" [(ngModel)]="cliente.lastName" class="form-control border-secondary-subtle">
            </div>
        </div>
        <div class="row mb-2 align-items-center">
            <label class="form-label col-5">Email: </label>
            <div class="col-7">
                <input type="email" [(ngModel)]="cliente.email" class="form-control border-secondary-subtle">
            </div>
        </div>
        <div class="row mb-2 align-items-center">
            <label class="form-label col-5">Tarjeta de crédito: </label>
            <div class="col-7">
                <input type="text" [(ngModel)]="cliente.creditCard" class="form-control border-secondary-subtle">
            </div>
        </div>
        <div class="row justify-content-around mt-5">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="crearReservacion()">Aceptar</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-danger" (click)="cancelBooking()">Cancelar</button>
            </div>
        </div>
    </div>
    }
    @case ("success") {
    <p class="mt-3">Gracias <i>{{cliente.name}} {{cliente.lastName}}</i>!! Su reservacion fue realizada exitosamente.
    </p>
    <br>
    <p>Código de reservación: <b>{{reservation.guid}}</b></p>
    <br>
    <p>
        Acabamos de enviar esta informacion a la direccion <i>{{cliente.email}}</i> para mayor facilidad.
    </p>
    <br><br>
    <p>
        Gracias por preferirnos!
    </p>
    }
    @case ("failed") {
        <div class="failed-section">
            <div class="row">
                <div>
                    <button type="button" class="btn btn-outline-secondary btn-back" (click)="estado = ''">Volver</button>
                </div>
                <p class="error-message">Lo sentimos! En este momento no tenemos habitaciones disponibles.</p>
            </div>
            <div class="container">
                <p>Ya que no disponemos de habitaciones según su solicitud, se le presentan las siguientes alternativas:</p>
                <div class="row">
                    <div class="col-12" *ngFor="let availableRoom of availableRooms">
                        <p class="room-info">En el rango de fechas seleccionado, tenemos disponible la habitación número {{ availableRoom.number }}, esta es del tipo 
                            <span class="room-type" *ngIf="availableRoom.type_id === 1">Estándar</span>
                            <span class="room-type" *ngIf="availableRoom.type_id === 2">Familiar</span>
                            <span class="room-type" *ngIf="availableRoom.type_id === 3">De lujo</span>
                        </p>
                    </div>
                </div>          
            </div>
        </div>
    }    
    @default {
    <h3>Consulta de habitaciones</h3>
    <div class="mt-3 row ">
        <div class="col-10 col-md-4 mt-2">
            <label for="arravingDate" class="form-label ms-2">Fecha de entrada</label>
            <input type="date" id="arravingDate" [(ngModel)]="reservation.arriving" class="form-control">
        </div>
        <div class="col-10 col-md-4 mt-2">
            <label for="departingDate" class="form-label ms-2">Fecha de salida</label>
            <input type="date" id="departingDate" [(ngModel)]="reservation.departing" class="form-control">
        </div>
        <div class="col-10 col-md-5 mt-4">
            <select class="form-select"  [(ngModel)]="reservation.room_type_id">
                @for(roomType of roomTypes; track roomType.id){
                    <option [value]="roomType.id">{{roomType.name}}</option>
                }
            </select>
        </div>
        <div class="col-10 col-md-8 d-flex justify-content-center mt-5">
            <button class="btn btn-primary" (click)="buscarHabitacion()">Aceptar</button>
        </div>
    </div>
    }
    }
</div>
</div>