<h1>Gestion de temporadas</h1>

<div class="mb-5">
    <div class="p-3">
        <div class="year-bar">
            @for(period of periods; track $index){
                <div class="period-block"[ngStyle]="{
                    'background-color': color[period.color],
                    'width': period.end+'%',
                    'left':period.start+'%'}"> </div>
            }
            @for(month of months; track $index){
                <div class="month"></div>
            }
        </div>
    </div>
    <div class="d-flex p-3">
        @for(month of months; track $index){
            <div class="col-1 text-center">{{month.short}}<span class="d-none d-xl-inline">{{month.complete}}</span></div>
        }
    </div>
</div>

@if(temporadas.length > 0){
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Incremento en precio</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @for(temporada of temporadas; track $index){
                <tr>
                    <td>
                        <input type="text" pattern="\d{2}-\d{2}" placeholder="MM-DD" [(ngModel)]="temporada.fechaInicio" class="form-control" (input)="updateDates()">
                    <td>
                        <input type="text" pattern="\d{2}-\d{2}" placeholder="MM-DD" [(ngModel)]="temporada.fechaFin" disabled="true" class="form-control">
                    </td>
                    <td class="text-center">{{ temporada.incremento }} %</td>
                    <td>
                        <button class="btn btn-primary">Actualizar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}@else{
    <p>No hay temporadas disponibles.</p>
}

<button class="btn btn-success" (click)="openAddSeasonModal()">Agregar Temporada</button>

<!-- Modal para agregar temporada -->
<div id="addSeasonModal" class="modal">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4>Informacion de Temporada</h4>
                <button type="button" class="btn-close" (click)="closeAddSeasonModal()"></button>
            </div>
            <div class="modal-body">
                <label for="fechaInicio">Fecha de Inicio:</label>
                <input type="text" id="fechaInicio" class="form-control" [(ngModel)]="date" placeholder="MM-DD" required>
        
                <label for="descuento">Incremento:</label>
                <input type="number" id="descuento" class="form-control" [(ngModel)]="incremento" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="guardarNuevaTemporada()">Agregar</button>

            </div>
        </div>
    </div>
</div>