.year-bar{
    position: relative;
    height: 50px;
    width: 100%;
    border: 1px solid #AAA;
    overflow: hidden;
    display: flex;
}

.period-block{
    position: absolute;
    top:0;
    min-height: 50px;
}

.month{
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 8.33%;
    z-index: 20;
}
.modal{
    background-color: rgba(0,0,0,0.2);
}