
<h2>Disponibilidad de las habitaciones</h2>


<div class="consulta-container">
  <form [formGroup]="consultaForm" (ngSubmit)="consultar()" class="consulta-form">
    <div class="form-group">
      <label for="fechaInicio">Fecha Inicio:</label>
      <input id="fechaInicio" type="date" formControlName="fechaInicio" class="form-control">
    </div>
    <div class="form-group">
      <label for="fechaFin">Fecha Fin:</label>
      <input id="fechaFin" type="date" formControlName="fechaFin" class="form-control">
    </div>
    <div class="form-group">
      <label for="idTipoHabitacion">Tipo de Habitación:</label>
      <select id="idTipoHabitacion" formControlName="idTipoHabitacion" class="form-control">
        <option value="">Seleccione Tipo de Habitación</option>
        <!-- Agregar opciones según sea necesario -->
        <option value="1">Estándard</option>
        <option value="2">Familiar</option>
        <option value="3">De lujo</option>
      </select>
    </div>
    <button type="submit" class="btn-submit">Consultar Disponibilidad</button>
  </form>

  <div *ngIf="habitaciones.length > 0" class="result-container">
    <h3>Habitaciones Disponibles:</h3>
    <table class="result-table">
      <thead>
        <tr>
          <th>Número</th>
          <th>Tipo</th>
          <th>Costo Estadia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habitacion of habitaciones">
          <td>{{ habitacion.numero }}</td>
          <td>{{ habitacion.tipoHabitacion }}</td>
          <td>{{ habitacion.costoEstadia | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
