<section class="welcome">

    <h1>Módulo administrativo</h1>
    <div class="welcome-text">
     <p>¡Bienvenido a tu espacio de control! Toma el mando y gestiona tu sitio web con facilidad. </p>
     <p>Este panel de administración le proporciona las herramientas necesarias para gestionar de manera eficiente las diferentes áreas de su sistema</p> 
    </div>


    <!--FALTA FUNCIONALIDAD DE LA BARRA DE BUSQUEDA, ACTUALMENTE NO TIENE NINGUNA FUNCIONALIDAD-->
    <div id="barra-busqueda">
      <form action="#">
        <input type="text" id="campo-busqueda" placeholder="Ingresa tu búsqueda">
        <button type="submit" id="boton-busqueda">Buscar</button>
      </form>
    </div>
  
    <div id="resultados-busqueda"></div>

    
  
</section>
