<h1>Modificar páginas</h1>

<!-- El contenido cambia segun el que se quiere editar -->
@if(editing){
    <div class="container">
        <button class="btn btn-outline-secondary" (click)="editing = false">Volver</button>
        <h3>{{pages[editingPage]}}</h3>
        <div class="col-10 mx-auto">
            <label class="form-label">Descripción de la página</label>
            <app-editor [text]="pageInfo.texto" (outputResult)="receivePageText($event)"></app-editor>
            <!-- <editor apiKey="qa90vkqvgp3r21pho0drh9vr8yyky7slpzx96dn0kpkagdix" [init]="editorConfig" [(ngModel)]="pageInfo.texto"></editor> -->
    
            <!-- Change the file management based on the page: home needs one, about needs an array -->
            @if(editingPage === 'home'){
                <div class="row mt-2">
                    <div class="col-12 col-md-4">
                        <p class="form-label">Imagen Actual</p>
                        <div>
                            @if(pageImg.length > 0){
                            <img [src]="pageImg[0].url" alt="" class="w-100 rounded-2">
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <label class="form-label">Subir nueva imagen</label>
                        <input type="file" class="form-control mt-2" (change)="selectFile($event)" accept="image/*">
                    </div>
                </div>
            }
            @if(editingPage === 'about'){
                <div class="row mt-2">
                    <div class="col-12 col-lg-8">
                        <!-- gallery -->
                        <div class="gallery">
                            @for (imgItem of pageImg; track $index) {
                                <div class="gallery-item">
                                    <div class="image p-3">
                                        <img [src]="imgItem.url" [alt]="imgItem.alt" >
                                        <button class="delete-button" (click)="deleteImage(imgItem)"><fa-icon [icon]="faX"></fa-icon></button>
                                      </div>
                                </div>
                              }
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="uploadImg" style="width: 100%; height: 60px; margin-top: 15px;">
                            <div class="upload">
                                <fa-icon [icon]="faUpload"/> <span class="ms-3">Subir archivos</span>
                            </div> 
                            <p class="text-center mt-2">{{imgFiles.length}} archivos nuevos</p>
                        </label>
                        <input id="uploadImg" type="file" class="d-none" (change)="selectFile($event)" accept="image/*" [multiple]="true">
                    </div>
                </div>

                
            }

            <div class="my-4 d-flex justify-content-end">
                <div class="col-12 col-md-8 col-lg-5 d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar</button>
                    <button type="button" class="btn" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}@else {
    <!-- Mostrar las posibles paginas a editar -->
    <p>Seleccione la pagina que desea modificar</p>

    <div class="row row-cols-2">
        <div class="mb-2 d-flex justify-content-center">
            <button class="btn btn-outline-primary" (click)="editPage('home')">Home</button>
        </div>
        <div class="mb-2 d-flex justify-content-center">
            <button class="btn btn-outline-primary" (click)="editPage('about')">Sobre nosotros</button>
        </div>
        <div class="mb-2 d-flex justify-content-center">
            <button class="btn btn-outline-primary" (click)="editPage('location')">Cómo llegar</button>
        </div>
        <div class="mb-2 d-flex justify-content-center">
            <button class="btn btn-outline-primary" (click)="editPage('contact')">Contacto</button>
        </div>
    </div>
}