<h1>Administrar habitaciones</h1>

<ul class="nav nav-tabs">

    @for (roomType of roomTypes; track roomType.id) {
    <!-- Generar los tabs de navegación entre los distintos tipos -->
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': roomType.id === activeRoomType}"
            (click)="changeRoomType(roomType.id)">
            {{roomType.name}}
        </button>
    </li>
    }
</ul>

<!-- cargar tabla según el tipo de habitacion -->
<div class="d-flex justify-content-center mt-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <table class="table">
            <thead>
                <th>Número</th>
                <th>Activa</th>
            </thead>
            <tbody>
                @for (r of displayRooms; track $index) {
                    <tr>
                        <td>{{r.number}}</td>
                        <td><input type="checkbox"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
</div>
