<h1>Administrar habitaciones</h1>

@if(state === ""){
<ul class="nav nav-tabs">

    @for (roomType of roomTypes; track roomType.id) {
    <!-- Generar los tabs de navegación entre los distintos tipos -->
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': roomType.id === activeRoomType}"
            (click)="changeRoomType(roomType.id)">
            {{roomType.name}}
        </button>
    </li>
    }
</ul>

<div class="container col-11 mt-3 d-flex justify-content-between">
    <button class="btn btn-success" (click)="openUpdateRoomTypeForm()">Editar descripción</button>
    <button class="btn btn-danger" (click)="DeleteRoomType()">Eliminar</button>
</div>
}

@switch (state) {
@default {
<!-- cargar tabla según el tipo de habitacion -->
<div class="d-flex justify-content-center mt-5">
    <div class="col-10 col-sm-8 col-md-7 ">
        <table class="table">
            <thead>
                <th>Número</th>
                <th>Activa</th>
                <th class="d-flex justify-content-end">Acciones</th>
            </thead>
            <tbody>
                @for (r of displayRooms; track $index) {
                <tr>
                    <td>{{r.number}}</td>
                    <td><input type="checkbox" [checked]="r.active"></td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-success">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @if(displayRooms.length === 0){
            <p class="text-danger">No hay habitaciones registradas</p>
        }
    </div>
</div>
}
@case ("editingRoomType") {
    <div class="container col-12 col-md-10 col-lg-9 mt-4">
        <div class="row justify-content-center">
            <div class="mb-2 col-12 col-lg-6">
                <label for="" class="from-label">Nombre</label>
                <input type="text" id="" class="form-control" [(ngModel)]="editingRoomType.name">
            </div>
            <div class="mb-2 col-12 col-lg-6">
                <label for="" class="from-label">Tarifa diaria</label>
                <input type="text" id="" class="form-control" [(ngModel)]="editingRoomType.price">
            </div>
            <div class="mb-2">
                <label for="">Descripcion</label>
                <textarea rows="6" class="form-control" [(ngModel)]="editingRoomType.description"></textarea>
            </div>
            <div class="mb-3 row">
                <div class="col-8 col-md-3">
                    <p>Imagen Actual</p>
                    <div>
                        <img src="" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-10 col-md-9">
                    <label class="form-label">Subir nueva imagen</label>
                    <input type="file" class="form-control">
                </div>
            </div>
        
            <div class="m-5 d-flex justify-content-end">
                <button class="btn btn-primary m-2">Aceptar</button>
                <button class="btn btn-danger m-2" (click)="cancelUpdateRoomType()">Cancelar</button>
            </div>
        </div>
    </div>

}
}